html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: black;
}

.container_session {
    height: auto;
    padding-bottom: 30px;
    .session_titre {
        padding: 30px 15px 15px 15px;
    }

    hr {
        display: inline-block;
        width: 35%;
        border-style: none;
        color: black;
        background-color: black;
        height: 5px;
    }

    h1 {
        font-size: 40px;
        color: black;
        font-family: "Eras ITC";
        font-weight: 500;
    }
    .session_button {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .top_button {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a {
            margin-bottom: 30px;
            padding: 10px 15px;
            font-size: 16px;
            font-family: "Eras ITC";
            color: white;
            background-color: #e77b36;
            border-style: none;
            border-radius: 20px;
        }

        hr {
            width: 60%;
            margin-bottom: 25px;
        }
    }

    .session_texte {
        font-family: "Eras ITC";
        text-align: center;

        font-size: 18px;
        span {
            font-weight: 500;
        }

        p {
            padding: 8px 0 8px 0;
        }
    }

    .session_titre2 {
        padding: 30px 15px 15px 15px;
        h1 {
            font-size: 30px;
        }
    }

    .session_div {
        padding: 10px;

        div {
            background-color: #e77b36;
            font-size: 20px;
            text-align: center;
            padding: 8px;
            margin-bottom: 10px;

            a {
                margin: 0;
                text-decoration: none;
            }
        }

        div:nth-child(n) {
            color: white;
        }

        div:nth-child(2) {
            background-color: white;
            border: 2px solid #e77b36;
            color: #e77b36;
        }

        div:nth-child(4) {
            background-color: white;
            border: 2px solid black;
            color: #e77b36;
        }
    }
}

@media screen and (min-width: 800px) {
    .container {
        padding: 55px 0;
        display: flex;
        justify-content: center;
        align-content: center;

        //background-color: #E77B36;

        .container_session {
            width: 100%;

            .session {
                margin: 0 auto;
                width: 800px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                .session_container_texte {
                    display: flex;
                    justify-content: space-evenly;
                }

                .session_button {
                    .top_button {
                        flex-direction: row;
                        width: 100%;
                        justify-content: space-around;
                    }

                    a {
                        font-weight: 500;
                        transition: box-shadow 0.2s;
                        margin-right: 20px;
                    }

                    a:hover {
                        box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.534);
                        transition: box-shadow 0.2s;
                    }
                }

                .session_titre {
                    padding: 30px 15px 15px 0;
                }
            }
        }
    }
}
