<app-navbar></app-navbar>
<main>
    <div class="container">
        <div class="container_session">
            <div class="session">
                <div>
                    <div class="session_titre">
                        <h1>Sessions</h1>
                        <hr />
                    </div>
                    <div class="session_texte">
                        <div class="session_container_texte">
                            <p>La session a débuté le :<br><span>10/20/2012</span>
                            </p>
                            <p>Et finira le : <br><span>10/20/2012</span></p>
                        </div>
                        <p>Vous pouvez vous inscrire jusqu'au : <br>
                            <span>10/20/2012</span>
                        </p>
                    </div>
                    <div class="session_button">
                        <div class="top_button">
                            <a href="/modify-session" routerLink="/modify-session">Modifier une session</a>
                            <a href="/add-session" routerLink="/add-session">Créer une session</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="session_titre2">
                        <h1>Toutes les sessions</h1>
                        <hr />
                    </div>
                    <div class="session_div">
                        <div>
                            <a href="/session-admin-details" routerLink="/session-admin-details">Session 1 - <span>01/09/2020</span> au <span>01/11/2020</span></a>
                        </div>
                        <div>
                            <a href="/session-admin-details" routerLink="/session-admin-details">Session 1 - <span>01/09/2020</span> au <span>01/11/2020</span></a>
                        </div>
                        <div>
                            <a href="/session-admin-details" routerLink="/session-admin-details">Session 1 - <span>01/09/2020</span> au <span>01/11/2020</span></a>
                        </div>
                        <div>
                            <a href="/session-admin-details" routerLink="/session-admin-details">Session 1 - <span>01/09/2020</span> au <span>01/11/2020</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
