<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_profil">
            <div class="container_profil_top">
                <h1>Profil</h1>
                <hr class="subtitle" />
                <div class="container_profil_top_check">
                    <p>Editer informations du compte</p>
                    <input type="checkbox" [checked]="check" (click)="onClick()" />
                </div>
            </div>
            <div class="container_profil_mid">
                <hr class="subtitle2" />
            </div>
            <div class="container_profil_bot">
                <mat-form-field>
                    <mat-label>Prénom</mat-label>
                    <input matInput type="text" name="Prenom" [(ngModel)]="loggedUser.firstname" [disabled]="!check" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" name="name" [(ngModel)]="loggedUser.name" [disabled]="!check" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="loggedUser.mail" [disabled]="!check" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date de naissance</mat-label>
                    <input matInput type="text" name="date" [value]="loggedUser.date_of_birth | date: 'shortDate'"
                        [disabled]="!check" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Pseudo</mat-label>
                    <input matInput type="text" name="pseudo" [(ngModel)]="loggedUser.username" [disabled]="!check" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telephone</mat-label>
                    <input matInput type="text" name="telephone" [(ngModel)]="loggedUser.phone" [disabled]="!check" />
                </mat-form-field>
                <div class="container_mdp">
                    <mat-form-field>
                        <mat-label>Mot de passe</mat-label>
                        <input class="input_mdp" matInput type="password" name="mdp" value="Surement qq chose"
                            disabled="disabled" />
                    </mat-form-field>
                    <a>Réinitialiser</a>
                </div>
                <mat-form-field>
                    <mat-label>Adresse</mat-label>
                    <input matInput type="text" name="adresse" [(ngModel)]="loggedUser.address" [disabled]="!check" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Code postal</mat-label>
                    <input matInput type="text" name="postal" [(ngModel)]="loggedUser.postal_code"
                        [disabled]="!check" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ville</mat-label>
                    <input matInput type="text" name="ville" [(ngModel)]="loggedUser.city" [disabled]="!check" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Pays</mat-label>
                    <input matInput type="text" name="pays" [(ngModel)]="loggedUser.country" [disabled]="!check" />
                </mat-form-field>
                <p>Inscrit à la session en cours : Non</p>
            </div>
            <div *ngIf="check" (click)="onSubmit()" class="container_button">
                <button>Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>