html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    box-sizing: border-box;
}


footer{
    position: relative;
    background-color: black;
    width: 100%;
    height: 80px;

    img{
        width: 150px;
    }

    p{
        color: grey;
    }

    .footer_div{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}