<app-navbar></app-navbar>
<main>
    <div class="container">
        <div class="container_session">
            <div class="session">
                <div class="session_titre">
                    <h1>Administration</h1>
                    <hr />
                </div>
                <div class="session_texte">
                    <div class="session_container_texte">
                        <p>La session a débuté le :<br><span>{{this.session.date_of_begin | date: 'shortDate'}}</span>
                        </p>
                        <p>Et finira le : <br><span>{{this.session.date_of_end | date: 'shortDate'}}</span></p>
                    </div>
                    <p>Vous pouvez vous inscrire jusqu'au : <br>
                        <span>{{this.session.date_end_register | date: 'shortDate'}}</span>
                    </p>
                </div>
                <div class="session_button">
                    <div class="top_button">
                        <a href="/modify-session" routerLink="/modify-session">Modifier la session</a>
                        <a href="/add-session" routerLink="/add-session">Créer une session</a>
                        <a href="/session-admin" routerLink="/session-admin">Afficher les sessions</a>
                    </div>
                    <hr />
                    <a class="bot_button" href="/validation-defi" routerLink="/validation-defi">Vérifier les défis</a>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>