<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_modifyActu">
            <div class="container_modifyActu_top">
                <h1>Modifier actualité</h1>
                <hr class="subtitle"/>
            </div>
            <div class="container_modifyActu_bot">
                <mat-form-field>
                    <mat-label>Titre</mat-label>
                    <input matInput type="text" name="titre"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field> 
                <mat-form-field>
                    <mat-label>Choisir une image</mat-label>
                    <input matInput type="text" name="image"/>
                </mat-form-field>
            </div>
            <div class="container_button">
                <button>Modifier</button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
