<div class="card-container">
    <div class="img-background"></div>
    <div class="card-text-container">
        <h1>Mathilde raconte son aventure OTRA</h1>
        <p>Au-delà de la destination, des lieux visités, du jeu et des défis, On The Road […]</p>
    </div>
</div>