html,
body {
    padding: 0;
    margin: 0;
    width: 300px;
    height: auto;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.card-container {
    width: 100%;
    box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.54);
    background-color: white;

    .img-background {
        width: 100%;
        height: 200px;
        background-image: url(../../assets/actus.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card-text-container {
        padding: 10px;
        text-align: center;

        h1 {
            font-size: 17px;
            font-weight: bold;
            font-style: italic;
        }
    }
}
