<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_session_register">
            <div class="container_session_register_top">
                <h1>S'inscrire à une session</h1>
                <hr class="subtitle" />
                <p>Une session dure environ 3 mois et coûte
                    40 euros peu importe la date d'inscription.
                    <br><br>Vous pouvez vous inscrire jusqu'au :
                </p>
                <p class="texte_session_register">{{this.session.date_end_register | date: 'shortDate'}}</p>
            </div>
            <div class="container_session_register_mid">
                <hr class="subtitle2" />
            </div>
            <div class="container_session_register_bot">
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" name="nom" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Numéro de carte</mat-label>
                    <input matInput type="text" name="carteNum" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Cryptogramme</mat-label>
                    <input matInput type="text" name="cryptogramme" />
                </mat-form-field>
            </div>
            <div class="container_button">
                <button>Valider le paiement</button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>