<app-navbar></app-navbar>
<main>
    <div class="bandeau"></div>
    <div class="container_about">
        <div>
            <h1>Qui sommes-nous</h1>
            <hr class="subtitle">
        </div>
        <div>
            <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est prêt ou que la mise en page est achevée. Généralement, on utilise un texte en faux latin, le Lorem ipsum ou Lipsum.
                <br><br>
                Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif </p>
        </div>
        <div class="container_button">
            <button>S'inscrire à la session en cours</button>
        </div>
    </div>
</main>
<app-footer></app-footer>
