html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: white;
}

/** CSS DU HEADER **/
header {
    width: 100%;
    height: 85px;
    background-color: #e77b36;
    display: flex;
}

header img {
    height: auto;
}

header div {
    padding-bottom: 0;
}
.bandeau {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_img1 {
    width: 150px;
    margin-left: 5px;
}
.header_img2 {
    width: 80px;
}

/** CSS DE LA NAVBAR**/

nav.mobile_nav {
    transform: translateY(-150%);
    transition: transform 0.5s;
    position: absolute;
    z-index: 1;
    top: 85px;
    width: 100%;
    background-color: rgba(231, 190, 54, 0.904);
}

.connecteMob {
    border-bottom: 2px solid white;
}

.mobile_nav.active {
    transform: translateY(0);
    transition: transform 0.5s;
    position: fixed;
}

.navbar_button1 {
    font-size: 20px;
    text-align: end;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.navbar_button1 p {
    padding: 10px;
    margin-bottom: 0;
    display: inline-block;
}

.navbar_button2 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-align: center;
}

.navbar_button2 p {
    padding: 10px;
}

.navbar_button2 p:hover {
    background-color: rgba(212, 174, 49, 0.411);
}

.navbar_button2 p:first-child {
    margin-top: 0;
}

.desktop_nav {
    display: none;
}

/* RESPONSIVE */

@media screen and (min-width: 800px) {
    .desktop_nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 10px;

        .connecteDesk {
            border-right: 2px solid white;
        }

        p {
            color: white;
            padding: 10px;
            margin: 0;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
        }

        p:hover {
            text-decoration: underline;
        }
    }
    .header_div2 {
        display: none;
    }

    .mobile_nav {
        display: none;
    }
}
