<header>
    <div class="bandeau">
        <div class="header_div1"><a routerLink="/home"><img class="header_img1"
                    src="../../assets/Logo_AtHomeAGamecorriger.png" alt="logo athome"></a></div>
        <div class="header_div2" (click)="toggle=!toggle"><img class="header_img2" src="../../assets/menu_burger.png"
                alt="burger menu"></div>
        <nav class="desktop_nav">
            <p><a href="/home" routerLink="/home">Accueil</a></p>
            <p><a href="/concept" routerLink="/concept">Le Concept</a></p>
            <p><a href="/defis" routerLink="/defis">Les Défis</a></p>
            <p><a href="/session-register" routerLink="/session-register">S'inscrire</a></p>
            <p><a href="/about" routerLink="/about">Qui sommes-nous</a></p>
            <p><a href="/classement" routerLink="/classement">Classement</a></p>
            <p [class]="isLogin() ? 'connecteDesk' : ''"><a href="/actualites" routerLink="/actualites">Actualités</a>
            </p>
            <p *ngIf="isLogin()"><a href="/profil" routerLink="/profil">Profil</a></p>
            <p *ngIf="isLogin()" (click)="disconnect()"><a href="">Se
                    Déconnecter</a></p>
        </nav>
    </div>
    <nav class="mobile_nav" [ngClass]="{'active': !toggle }">
        <div class="navbar_button1">
            <p (click)="toggle=!toggle">X</p>
        </div>
        <div class="navbar_button2">
            <p><a href="/home" routerLink="/home">Accueil</a></p>
            <p><a href="/concept" routerLink="/concept">Le Concept</a></p>
            <p><a href="/defis" routerLink="/defis">Les Défis</a></p>
            <p><a href="/session-register" routerLink="/session-register">S'inscrire</a></p>
            <p><a href="/about" routerLink="/about">Qui sommes-nous</a></p>
            <p><a href="/classement" routerLink="/classement">Classement</a></p>
            <p [class]="isLogin() ? 'connecteMob' : ''"><a href="/actualites" routerLink="/actualites">Actualités</a>
            </p>
            <p *ngIf="isLogin()"><a href="/profil" routerLink="/profil">Profil</a></p>
            <p *ngIf="isLogin()" (click)="disconnect()"><a href="/home" routerLink="/home">Se Déconnecter</a></p>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>