<app-navbar></app-navbar>
<main>
    <div class="container">
        <div class="container_session">
            <div class="session">
                <div>
                    <div class="session_titre">
                        <h1>Défis</h1>
                        <hr />
                    </div>
                    <div class="session_texte">
                        <div class="session_container_texte">
                            <p>Voici la liste de tout les défis non-assigné à une session.</p>
                        </div>
                    </div>
                    <div class="session_button">
                        <div class="top_button">
                            <a href="/add-defis" routerLink="/add-defis">Créer un nouveau défi</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="session_titre2">
                        <hr />
                    </div>
                    <div class="card_defis">
                        <div class="card-container">
                            <div class="img-background"></div>
                            <div class="card-text-container">
                                <h1>Mathilde raconte son aventure OTRA</h1>
                                <p>Au-delà de la destination, des lieux visités, du jeu et des défis, On The Road […]</p>
                            </div>
                            <div class="card-bottom">
                                <a><img src="../../assets/icon_modify.png" alt=""></a>
                                <p>Points : <span>10</span><span>pts</span></p>
                                <a><img src="../../assets/icon_poubelle_rouge.png" alt=""></a>
                            </div>
                        </div>
                        <div class="card-container">
                            <div class="img-background"></div>
                            <div class="card-text-container">
                                <h1>Mathilde raconte son aventure OTRA</h1>
                                <p>Au-delà de la destination, des lieux visités, du jeu et des défis, On The Road […]</p>
                            </div>
                            <div class="card-bottom">
                                <a><img src="../../assets/icon_modify.png" alt=""></a>
                                <p>Points : <span>10</span><span>pts</span></p>
                                <a><img src="../../assets/icon_poubelle_rouge.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
