<app-navbar></app-navbar>
<main>
    <div class="container">
        <div class="container_session">
            <div class="session">
                <div class="session_titre">
                    <h1>Validation défis</h1>
                    <hr />
                </div>
                <div class="session_texte">
                    <div class="session_container_texte">
                        <p>Vérifier les défis des utilisateurs.</p>
                    </div>
                </div>
                <div class="session_button">
                    <div class="top_button">
                        <a href="/validation-defi-details" routerLink="/validation-defi-details">Valider un défis (<span>43</span>)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>
