html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: auto;
    background-image: url(../../assets/caroussel.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 50px 0;

    .card_login {
        width: 80%;
        height: auto;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;

        .container_login_top {
            width: 100%;
            padding: 30px 30px 0 30px;
            text-align: left;
        }

        .container_login_bot {
            width: 100%;
            padding: 0 30px 30px 30px;
            text-align: left;
        }

        .container_login_mid {
            width: 100%;
        }

        mat-form-field {
            width: 100%;
        }

        p {
            font-family: "Eras ITC";
            font-size: 16px;
        }

        h1 {
            font-family: "Eras ITC";
            font-size: 24px;
            font-weight: 500;
            margin: 0 0 8px 0;
        }

        .subtitle {
            display: inline-block;
            width: 35%;
            border-style: none;
            color: white;
            background-color: black;
            height: 4px;
            margin: 0 0 20px 0;
        }

        .subtitle2 {
            display: inline-block;
            width: 100%;
            border-style: none;
            color: white;
            background-color: rgb(110, 110, 110);
            height: 1px;
        }

        .container_button {
            text-align: center;
            padding-bottom: 30px;
            width: 100%;

            small {
                color: red;
            }

            p {
                margin: 15px 0 10px 0;
            }
        }

        button {
            font-family: "Eras ITC";
            background-color: #7ae732;
            border-style: none;
            border-radius: 15px;
            color: white;
            font-size: 16px;
            width: 200px;
            height: 45px;
            box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.54);
        }
    }
}

@media screen and (min-width: 800px) {
    body {
        height: 1vh;
    }
    .background {
        padding: 140px 0 140px 0;
        .card_login {
            width: 600px;

            .container_login_mid {
                display: none;
            }

            .container_login_bot {
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                mat-form-field {
                    width: 45%;
                }
            }

            .container_login_top {
                width: 80%;
                margin: 0 auto;
            }

            h1 {
                font-size: 28px;
            }

            .subtitle {
                width: 120px;
            }

            .container_button {
                margin: 0 auto;
                padding-bottom: 30px;
                width: 350px;
            }
        }
    }
}
