<app-navbar></app-navbar>
<main>
    <form class="background">
        <div class="card_login">
            <div class="container_login_top">
                <h1>Se connecter</h1>
                <hr class="subtitle" />
                <p>vous n'avez pas de compte ? <a routerLink="/register">Inscrivez-vous ici</a></p>
            </div>
            <div class="container_login_mid">
                <hr class="subtitle2" />
            </div>
            <div class="container_login_bot">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="user.mail" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" name="mdp" [(ngModel)]="user.password" />
                </mat-form-field>
            </div>
            <div class="container_button">
                <small>{{errorLogin}}</small>
                <button type="submit" (click)="onLoggedIn()">Connexion</button>
                <p><a routerLink="/forgot">Mot de passe oublié ?</a></p>
            </div>
        </div>
    </form>
</main>
<app-footer></app-footer>