html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.bandeau {
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url(../../assets/caroussel.jpg);
    height: 100px;
    width: 100%;
}

.container_actualites {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    p {
        font-family: "Eras ITC";
        font-size: 16px;
        padding-bottom: 15px;
    }

    h1 {
        font-family: "Eras ITC";
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 8px 0;
    }

    .subtitle {
        display: inline-block;
        width: 50px;
        border-style: none;
        color: white;
        background-color: black;
        height: 4px;
        margin: 0 0 20px 0;
    }

    .container_card {
        div {
            margin-bottom: 40px;
        }
    }

    .container_button {
        text-align: center;
        padding: 15px 0 10px 0;
        width: 100%;
    }

    a {
        font-family: "Eras ITC";
        background-color: #7ae732;
        border-style: none;
        border-radius: 15px;
        font-weight: 500;
        color: white;
        font-size: 16px;
        padding: 15px 20px;
        text-decoration: none;
        box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.54);
    }

    a:hover {
        box-shadow: -2px 5px 20px -1px rgba(0, 0, 0, 0.54);
        transition: box-shadow 0.2s;
    }
}

@media screen and (min-width: 800px) {
    .bandeau {
        display: none;
    }

    main {
        background-image: url(../../assets/caroussel.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 150px 0;
    }

    .container_actualites {
        width: 90%;
        height: auto;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        padding: 30px 120px;

        h1 {
            font-size: 30px;
        }
    }

    .container_card {
        display: flex;
        justify-content: space-around;

        div {
            margin-right: 25px;
            width: 300px;
        }
    }

    .container_button {
        padding: 10px 0 10px 0;
    }
}
