<app-navbar></app-navbar>
<main>
    <div class="bandeau"></div>
    <div class="container_actualites">
        <div>
            <h1>Les Défis</h1>
            <hr class="subtitle">
        </div>
        <div>
            <p>Vous trouverez une liste des défis actuellement ajouté à la session en cours.

        </div>
        <div class="container_card">
            <div>
                <app-card></app-card>
            </div>
            <div>
                <app-card></app-card>
            </div>
        </div>
        <div class="container_button">
            <a href="/session-register" routerLink="/session-register">S'inscrire à la session en cours</a>
        </div>
    </div>
</main>
<app-footer></app-footer>