html, body{
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    box-sizing: border-box;
}

.background{
    width: 100%;
    height: auto;
    background-image: url(../../assets/caroussel.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 50px 0 50px 0;

    .card_modifyDefis{
        width: 80%;
        height: auto;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.80);
        border-radius: 20px;
       

        .container_modifyDefis_top{
            width: 100%;
            padding: 30px 30px 0 30px;
            text-align: left;

        }

        .container_modifyDefis_bot{
            width: 100%;
            padding: 0 30px 30px 30px;
            text-align: left;
        }

        mat-form-field{
            width: 100%;
        }
  
    
        p{
            font-family: "Eras ITC";
            font-size: 16px;
            
        }
    
        h1{
            font-family: "Eras ITC";
            font-size: 24px;
            font-weight: 500;
            margin: 0 0 8px 0;
            
        }

        .subtitle{
            display: inline-block;
            width: 35%;
            border-style: none;
            color: white;
            background-color: black;
            height: 4px;
            margin: 0 0 20px 0;
        }
    
        .subtitle2{
            display: inline-block;
            width: 100%;
            border-style: none;
            color: white;
            background-color: rgb(110, 110, 110);
            height: 1px;
           
        }

        .container_button{
            text-align: center;
            padding-bottom: 30px;
            width: 100%;
        }

        button{
            
            font-family: "Eras ITC";
            background-color: #7AE732;
            border-style: none;
            border-radius: 15px;
            color: white;
            font-size:16px;
            width: 200px;
            height: 45px;
            box-shadow: -2px 5px 14px -1px rgba(0,0,0,0.54);
            
        }
    }
}

@media screen and (min-width:800px) {

    .background{
        padding: 140px 0 140px 0;
        .card_modifyDefis{
            width: 800px;

            .container_modifyDefis_bot{
                width: 80%;
                margin: 0 auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;

                mat-form-field{
                    width: 45%;
                }

                p{
                    padding: 10px 0;
                }
            }

            .container_modifyDefis_top{
                width: 80%;
                margin: 0 auto;
            }

            h1{
                font-size: 28px;
            }

            .subtitle{
                width: 120px;
            }

            .container_button{
                margin: 0 auto;
                padding-bottom: 30px;
                width: 350px;
            }
        }    
    }
}
