<app-navbar></app-navbar>
<main>
    <div class="bandeau"></div>
    <div class="container_actualites">
        <div>
            <h1>Actualités</h1>
            <hr class="subtitle">
        </div>
        <div>
            <p>Vous trouverez une liste des défis actuellement ajouté à la session en cours.    
        </div>
        <div class="container_card">
            <div><app-card></app-card></div>
            <div><app-card></app-card></div>
        </div>
    </div>
</main>
<app-footer></app-footer>