html, body{
    
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    box-sizing: border-box;
}


.bandeau{
    display: block;
    position: relative;
    background-position: center;
    background-size: cover;
    background-image: url(../../assets/caroussel.jpg);
    height: 100px;
    width: 100%;  
}

.container_actualites{
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 30px 0;
    p{
        font-family: "Eras ITC";
        font-size: 16px;
        padding-bottom: 15px;
        
    }

    h1{
        font-family: "Eras ITC";
        font-size: 24px;
        font-weight: 500;
        margin: 0 0 8px 0;
        
    }

    .subtitle{
        display: inline-block;
        width: 35%;
        border-style: none;
        color: white;
        background-color: black;
        height: 4px;
        margin: 0 0 20px 0;
    }

    .container_card{
        div{
            margin-bottom: 40px;
        }
    }


    
}


@media screen and (min-width:800px) {


    .bandeau{
        display: none;

    }

    main{
        background-image: url(../../assets/caroussel.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        padding: 150px 0;
     
        
    }

    .container_actualites{
        width: 90%;
        height: auto;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.80);
        border-radius: 20px;
        padding: 30px 120px;
    }


    .container_card{
        display: flex;
        justify-content: space-around;

        div{
            margin-right: 25px;
            width: 300px;
        }
    }
 
}