<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_addsession">
            <div class="container_addsession_top">
                <h1>Créer une session</h1>
                <hr class="subtitle"/>
            </div>
            <div class="container_addsession_mid">
                <mat-form-field>
                    <mat-label>Date de début</mat-label>
                    <input matInput type="date" name="date_fin"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date de fin</mat-label>
                    <input matInput type="date" name="date_debut"/>
                </mat-form-field>
            </div>
            <div class="container_addsession_bot">
                <p>Pour ajouter des défis à cette session, allez
                    dans la page défis et cliquez sur les défis
                    que vous voulez ajouter. Vous pourrez ensuite
                    les assigner à votre session.</p>
            </div>
            <div class="container_button">
                <button>Créer</button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
