html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.container_session {
    height: auto;
    padding-bottom: 30px;
    .session_titre {
        padding: 30px 15px 15px 0;
    }

    hr {
        display: inline-block;
        width: 35%;
        border-style: none;
        color: black;
        background-color: black;
        height: 5px;
    }

    h1 {
        font-size: 40px;
        color: black;
        font-family: "Eras ITC";
        font-weight: 500;
    }

    .titre_texte{
        font-family: "Eras ITC";
        font-size: 18px;
    }
    
    .session_titre2{

        padding: 30px 15px 5px 0;
        p{
            font-family: "Eras ITC";
            font-size: 18px;
        }
    }

    .session{
        padding: 20px;
    }

    .card-container {
        width: 100%;
        box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.54);
        background-color: white;
    
        .img-background {
            width: 100%;
            height: 200px;
            background-image: url(../../assets/actus.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .card-text-container {
            padding: 10px;
            text-align: center;
    
            h1 {
                font-size: 17px;
                font-weight: bold;
            }

            .points{
                text-decoration: underline;
            }

            span{
                
                font-weight: 700;
            }
        }
    }

    .card-container-gen {
        width: 100%;
   
        .img-background-gen {
            width: 100%;
            height: 200px;
            background-image: url(../../assets/actus.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .card-text-container-gen {
            padding: 10px;
            text-align: center;
    
            h1 {
                font-size: 17px;
                font-weight: bold;
                font-style: italic;
            }

            .container-button{
                display: flex;
                justify-content: space-around;
                
                a {
                    font-family: "Eras ITC";
                    background-color: #7ae732;
                    border-style: none;
                    border-radius: 15px;
                    font-weight: 500;
                    color: white;
                    font-size: 16px;
                    padding: 10px 40px;
                    text-decoration: none;
                    
                }

                a:last-child{
                    background-color: #CA0000;

                }
            
                a:hover {
                    box-shadow: -2px 5px 20px -1px rgba(0, 0, 0, 0.54);
                    transition: box-shadow 0.2s;
                }
            }

            .container-input{
                display: flex;
                flex-direction: column;
            }
        }
    }
}


@media screen and (min-width: 800px) {

    
    .container {
        padding: 55px 0;
        display: flex;
        justify-content: center;
        align-content: center;

        //background-color: #E77B36;

        .container_session {
            width: 100%;
            

            .session {
                margin: 0 auto;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-evenly;
                

                .card-container{
                    width: 500px;
                }

                .card-container-gen{
                    width: 500px;
                }

                .session_titre {
                    padding: 10px 15px 20px 0;
                }
            }
        }
    }
}