<app-navbar></app-navbar>
<main>
    <div class="container">
        <div class="container_session">
            <div class="session">
                <div>
                    <div class="session_titre">
                        <h1>Validation défis</h1>
                        <hr />
                    </div>
                    <p class="titre_texte">Défi à réaliser :</p>
                    <div class="card-container">
                        <div class="img-background"></div>
                        <div class="card-text-container">
                            <h1>Chef Cuistot !</h1>
                            <p>Faites un gâteau au chocolat digne des plus grands chefs cuisinier du monde et envoyez une photo de vous en train de le manger</p>
                            <p class="points">Points : <span>10</span><span>pts</span></p>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="session_titre2">
                        <p>Réalisation de l'utilisateur :</p>
                    </div>
                    <div class="card-container-gen">
                        <div class="img-background-gen"></div>
                        <div class="card-text-container-gen">
                            <div class="container-input">
                                <mat-form-field>
                                    <mat-label>Points</mat-label>
                                    <input matInput type="text" name="titre"/>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <textarea matInput placeholder=""></textarea>
                                </mat-form-field> 
                            </div>
                            <div class="container-button">
                                <a href="">Valider</a>
                                <a href="">Refuser</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
