<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_modifysession">
            <div class="container_modifysession_top">
                <h1>Modifier une session</h1>
                <hr class="subtitle" />
            </div>
            <div class="container_modifysession_mid">
                <mat-form-field>
                    <mat-label>Date de début</mat-label>
                    <input matInput type="text" name="date_fin" [(ngModel)]="dateDebut"
                        [value]="session.date_of_begin | date: 'shortDate'" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date de fin</mat-label>
                    <input matInput type="text" name="date_debut" [(ngModel)]="dateFin"
                        [value]="session.date_of_end | date: 'shortDate'" />
                </mat-form-field>
            </div>
            <div class="container_modifysession_bot">
                <p>Pour ajouter des défis à cette session, allez
                    dans la page défis et cliquez sur les défis
                    que vous voulez ajouter. Vous pourrez ensuite
                    les assigner à votre session.</p>
            </div>
            <div class="container_button">
                <button>Modifier</button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>