<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_forgot">
            <div class="container_forgot_top">
                <h1>Réinitialisation du mot de passe</h1>
                <hr class="subtitle"/>
                <p>Un mail de confirmation va être envoyer sur l'adresse mail test@gmail.com, suivez les instructions dans le mail pour changer votre mot de passe.</p>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
