html, body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    box-sizing: border-box;
}

.background{
    width: 100%;
    height: auto;
    background-image: url(../../assets/caroussel.png);
    background-repeat: no-repeat;
    background-size:cover;
    padding: 150px 0 150px 0;

    .card_forgot{
        width: 80%;
        height: auto;
        margin: 0 auto;
        background-color: rgba(255, 255, 255,0.80);
        border-radius: 20px;
       

        .container_forgot_top{
            width: 100%;
            padding: 30px 30px 0 30px;
            text-align: left;
        }

        p{
            font-family: "Eras ITC";
            font-size: 16px;
            padding-bottom: 25px;
            
        }
    
        h1{
            font-family: "Eras ITC";
            font-size: 24px;
            font-weight: 500;
            margin: 0 0 8px 0;
            
        }

        .subtitle{
            display: inline-block;
            width: 35%;
            border-style: none;
            color: white;
            background-color: black;
            height: 4px;
            margin: 0 0 20px 0;
        }
    
        .subtitle2{
            display: inline-block;
            width: 100%;
            border-style: none;
            color: white;
            background-color: rgb(110, 110, 110);
            height: 1px;
           
        }
    }
}


@media screen and (min-width:800px) {
    body{
        height: 1vh;
    }
    .background{
        padding: 180px 0 180px 0;
        .card_forgot{
            width: 600px;

            .container_forgot_top{
                width: 80%;
                margin: 0 auto;
            }

            h1{
                font-size: 28px;
            }

            .subtitle{
                width: 120px;
            }
        }    
    }
}