<app-navbar></app-navbar>
<main>
    <div class="container">
        <div class="container_session">
            <div class="session">
                <div>
                    <div class="session_titre">
                        <h1>Actualités</h1>
                        <hr />
                    </div>
                    <div class="session_button">
                        <div class="top_button">
                            <a href="/add-actu" routerLink="/add-actu">Ajouter une actualité</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="session_titre2">
                        <h1>Toutes les actualités</h1>
                        <hr />
                    </div>
                    <div class="card_defis">
                        <div class="card-container">
                            <div class="img-background"></div>
                            <div class="card-text-container">
                                <h1>Mathilde raconte son aventure OTRA</h1>
                                <p>Au-delà de la destination, des lieux visités, du jeu et des défis, On The Road […]</p>
                            </div>
                        </div>
                        <div class="card-container">
                            <div class="img-background"></div>
                            <div class="card-text-container">
                                <h1>Mathilde raconte son aventure OTRA</h1>
                                <p>Au-delà de la destination, des lieux visités, du jeu et des défis, On The Road […]</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>

