html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.container_session {
    height: auto;
    padding-bottom: 30px;
    .session_titre {
        padding: 30px 15px 15px 15px;
    }

    hr {
        display: inline-block;
        width: 35%;
        border-style: none;
        color: black;
        background-color: black;
        height: 5px;
    }

    h1 {
        font-size: 40px;
        color: black;
        font-family: "Eras ITC";
        font-weight: 500;
    }
    .session_button {
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .top_button{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        a {
            margin-bottom: 30px;
            padding: 10px 15px;
            font-size: 16px;
            font-family: "Eras ITC";
            color: white;
            background-color: #e77b36;
            border-style: none;
            border-radius: 20px;
        }

        hr{
            width: 60%;
            margin-bottom: 25px;
        }

      
    }

    .session_titre2{

        padding: 30px 15px 15px 15px;
        h1{
            font-size: 30px;
        }  
    }
    .card_defis{

        padding: 0 40px;
        .card-container {
            width: 100%;
            margin-bottom: 40px;
            box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.54);
            background-color: white;
        
            .img-background {
                width: 100%;
                height: 200px;
                background-image: url(../../assets/actus.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        
            .card-text-container {
                padding: 10px;
                text-align: center;
        
                h1 {
                    font-size: 15px;
                    font-weight: bold;
                   
                }
            }
        }
    }

}


@media screen and (min-width: 800px) {

    
    .container {
        padding: 55px 100px;
        display: flex;
        justify-content: center;
        align-content: center;

        //background-color: #E77B36;

        .container_session {
            width: 100%;
            

            .session {
                margin: 0 auto;
                width: 800px;
                display: flex;
                flex-direction: column;
                align-items: none;
                justify-content: space-between;

                hr{
                    width: 15%;
                }

                .session_button {
                   

                    .top_button{
                        flex-direction: row;
                        width: 100%;
                        justify-content: space-around; 
                    }

                    a {
                        font-weight: 500;
                        transition: box-shadow 0.2s;
                        margin-right: 20px;
                    }

                    a:hover {
                        box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.534);
                        transition: box-shadow 0.2s;
                    }
                }

                .session_titre {
                    padding: 30px 15px 15px 0;
                }

                .card_defis{
                    display: flex;
                }

                .card-container{
                    margin-right: 20px;
                }

                
            }
        }
    }
}