<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_forgot">
            <div class="container_forgot_top">
                <h1>Mot de passe oublié</h1>
                <hr class="subtitle"/>
                <p>Merci d'entrer votre adresse e-mail liée à votre
                    compte dans le champ prévu à cet effet.
                    Nous vous enverrons un lien pour réinitialiser
                    votre mot de passe.</p>
            </div>
            <div class="container_forgot_mid">
                <hr class="subtitle2"/>
            </div>
            <div class="container_forgot_bot">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" name="email"/>
                </mat-form-field>
            </div>
            <div class="container_button">
                <button>Envoyer</button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
