<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_addDefis">
            <div class="container_addDefis_top">
                <h1>Créer un défi</h1>
                <hr class="subtitle"/>
            </div>
            <div class="container_addDefis_bot">
                <mat-form-field>
                    <mat-label>Titre</mat-label>
                    <input matInput type="text" name="titre"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea matInput placeholder=""></textarea>
                </mat-form-field> 
                <mat-form-field>
                    <mat-label>Points</mat-label>
                    <input matInput type="text" name="points"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Choisir une image</mat-label>
                    <input matInput type="text" name="image"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Session</mat-label>
                    <select matNativeControl>
                      <option value="session1">session du 01/02</option>
                    </select>
                </mat-form-field>
            </div>
            <div class="container_button">
                <button>Créer</button>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>


