html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

.background {
    width: 100%;
    height: auto;
    background-image: url(../../assets/caroussel.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;

    .desktop_img {
        display: none;
    }

    .card_acceuil {
        width: 80%;
        height: auto;
        padding: 30px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;

        p {
            font-family: "Eras ITC";
            text-align: center;
            font-size: 18px;
            padding-bottom: 30px;
        }

        h1 {
            font-family: "Eras ITC";
            text-align: center;
            font-size: 28px;
            padding-bottom: 30px;
            font-weight: 500;
        }

        a {
            padding: 10px 15px;
            font-family: "Eras ITC";
            background-color: #7ae732;
            border-style: none;
            border-radius: 15px;
            color: white;
            font-size: 16px;
            box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.54);
            transition: box-shadow 0.5;
        }
        a:hover {
            box-shadow: -2px 5px 18px -1px rgba(0, 0, 0, 0.54);
            transition: box-shadow 0.5;
        }
    }
}

.container_connexion {
    height: auto;
    padding-bottom: 40px;
    .connexion_titre {
        padding: 30px 15px 15px 15px;
    }
    p {
        font-family: "Eras ITC";
        display: none;
    }

    hr {
        display: inline-block;
        width: 35%;
        color: black;
        border-style: none;
        background-color: black;
        height: 5px;
    }

    h1 {
        font-size: 40px;
        font-family: "Eras ITC";
        font-weight: 500;
    }
    .connexion_button {
        font-family: "Eras ITC";
        padding-top: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            text-align: center;
            padding: 10px;
            font-size: 16px;
            font-family: "Eras ITC";
            color: white;
            background-color: #e77b36;
            border-style: none;
            border-radius: 20px;
        }
    }
}

.connected {
    display: none;
}

.container_session {
    background-color: #e77b36;
    height: auto;
    padding-bottom: 30px;
    .session_titre {
        padding: 30px 15px 15px 15px;
    }

    hr {
        display: inline-block;
        width: 35%;
        border-style: none;
        color: white;
        background-color: white;
        height: 5px;
    }

    h1 {
        font-size: 40px;
        color: white;
        font-family: "Eras ITC";
        font-weight: 500;
    }
    .session_button {
        padding-top: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        a {
            padding: 10px 15px;
            font-size: 16px;
            font-family: "Eras ITC";
            color: white;
            background-color: #7ae732;
            border-style: none;
            border-radius: 20px;
        }
    }

    .session_texte {
        font-family: "Eras ITC";
        text-align: center;
        color: white;
        font-size: 18px;
        span {
            font-weight: 500;
        }

        p {
            padding: 8px 0 8px 0;
        }
    }
}

.actu-container {
    width: 100%;

    .actu-title-container {
        padding: 27px 20px 0 20px;

        hr {
            display: inline-block;
            width: 100px;
            border-style: none;
            color: white;
            background-color: black;
            height: 5px;
        }

        h1 {
            font-size: 40px;
            color: black;
            font-family: "Eras ITC";
            font-weight: 500;
            margin-bottom: 5px;
        }
    }

    .actu-card-container {
        .carousel-items {
            display: flex;
            overflow-x: scroll;
            padding: 1rem 0 30px 0;
            scroll-snap-type: x mandatory;
            list-style: none;

            .carousel-item {
                flex: 1 0 250px;
                margin-left: 20px;
                scroll-snap-align: start;
                transition: box-shadow 0.1s ease-in;

                a {
                    color: black;
                }
            }

            .carousel-item:hover {
                box-shadow: -2px 5px 15px -1px black;
                transition: box-shadow 0.1s ease-in;
            }
        }
    }

    ::-webkit-scrollbar-track {
        background-color: #dddddd;
    }

    ::-webkit-scrollbar {
        height: 20px;
        background-color: #f5f5f5;
        margin-bottom: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #e77b36;
        border-radius: 15px;
    }
}

@media screen and (min-width: 800px) {
    .background {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        .card_acceuil {
            width: 500px;
        }

        .desktop_img {
            display: block;
            position: relative;
            background-position: center;
            background-size: cover;
            background-image: url(../../assets/Logo_AtHomeAGame.png);
            height: 280px;
            width: 50%;
        }
    }

    .container {
        display: flex;
        justify-content: center;
        align-content: center;

        //background-color: #E77B36;

        .connected {
            display: block;
        }

        .container_connexion {
            border-right: 3px solid white;
            width: 50%;
            background-color: #e77b36;

            .connexion {
                color: white;
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                width: 300px;

                hr {
                    background-color: white;
                }
                .connexion_button {
                    justify-content: space-between;

                    a {
                        background-color: black;
                        width: 125px;
                        border: 2px solid black;
                        font-weight: 500;
                        transition: background-color 0.5s, color 0.5s;
                    }

                    a:hover {
                        background-color: white;
                        color: black;
                        transition: background-color 0.5s, color 0.5s;
                    }
                }
                p {
                    font-size: 18px;
                    display: block;
                    padding: 10px 0 25px 0;
                }

                .connexion_titre {
                    padding: 30px 15px 15px 0;
                }
            }
        }

        .container_session {
            width: 50%;

            .session {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                width: 400px;

                .session_container_texte {
                    display: flex;
                    justify-content: space-evenly;
                }

                .session_button {
                    justify-content: space-around;

                    a {
                        font-weight: 500;
                        transition: box-shadow 0.2s;
                    }

                    a:hover {
                        box-shadow: -2px 5px 14px -1px rgba(0, 0, 0, 0.534);
                        transition: box-shadow 0.2s;
                    }
                }

                .session_titre {
                    padding: 30px 15px 15px 0;
                }
            }
        }
    }
}
