<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_acceuil">
            <h1>Découvrez <br> @ Home a Game</h1>
            <p>Des challenges délirants à faire en famille, entre amis, ou seul.<br />
                Gagnes un max de points pour avoir des récompenses ! <br /><br />
                On t'attend, alors rejoins-nous !</p>
            <a href="/concept" routerLink="/concept">En savoir plus !</a>
        </div>
        <div class="desktop_img"></div>
    </div>
    <div class="container">
        <div class="container_connexion" [class]="isLogin() ? 'connected' : ''">
            <div class="connexion">
                <div class="connexion_titre">
                    <h1 *ngIf="!isLogin()">Se connecter</h1>
                    <h1 *ngIf="isLogin()">Mon Profil</h1>
                    <hr />
                </div>
                <p *ngIf="!isLogin()">Connectez-vous à votre compte ou inscrivez-vous gratuitement</p>
                <p *ngIf="isLogin()">Accèdez à vos informations de compte rapidement</p>
                <div class="connexion_button" *ngIf="!isLogin()">
                    <a href="/register" routerLink="/register">S'inscrire</a>
                    <a href="/login" routerLink="/login">Se connecter</a>
                </div>
                <div class="connexion_button" *ngIf="isLogin()">
                    <a href="/profil" routerLink="/profil">Profil</a>
                    <a (click)="disconnect()" href="">Se déconnecter</a>
                </div>
            </div>
        </div>
        <div class="container_session">
            <div class="session">
                <div class="session_titre">
                    <h1>Session en cours</h1>
                    <hr />
                </div>
                <div class="session_texte">
                    <div class="session_container_texte">
                        <p>La session a débuté le :<br><span>{{this.session.date_of_begin | date: 'shortDate'}}</span>
                        </p>
                        <p>Et finira le : <br><span>{{this.session.date_of_end | date: 'shortDate'}}</span></p>
                    </div>
                    <p>Vous pouvez vous inscrire jusqu'au : <br>
                        <span>{{this.session.date_end_register | date: 'shortDate'}}</span>
                    </p>
                </div>
                <div class="session_button">
                    <a href="/defis" routerLink="/defis">Voir les défis</a>
                    <a href="/session-register" routerLink="/session-register">S'inscrire</a>
                </div>
            </div>
        </div>
    </div>
    <div class="actu-container">
        <div class="actu-title-container">
            <h1>Actualités</h1>
            <hr />
        </div>
        <div class="actu-card-container">
            <ul class="carousel-items">
                <li *ngFor="let number of [0,1,2,3,4]" class="carousel-item">
                    <a href="/card">
                        <app-card></app-card>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</main>



<app-footer></app-footer>