html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    box-sizing: border-box;
}

.background {
    width: 100%;
    height: auto;
    background-image: url(../../assets/caroussel.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 100px 0;

    .card_classement {
        width: 95%;
        height: auto;
        margin: 0 auto;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 20px;
        padding-bottom: 30px;

        .container_classement_top {
            width: 100%;
            padding: 30px 30px 0 30px;
            text-align: left;
        }

        .container_classement_mid {
            width: 100%;
        }

        .container_classement_bot {
            width: 90%;
            margin: 15px auto;
            border: 1px solid black;
            border-radius: 15px;
            background-color: white;

            img {
                width: 20%;
                padding-top: 5px;
            }

            .table_tete {
                display: flex;
                padding-top: 6px;
                align-items: center;

                p {
                    font-weight: 500;
                    padding: 10px 0 10px 0;
                }
            }

            .table_corps {
                display: flex;

                p {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                }
            }

            .table_corps:nth-child(2n) {
                background-color: #e0e0e0;
            }

            .table_corps:last-child {
                border-radius: 0 0 15px 15px;
            }

            .first_column {
                width: 30%;
                text-align: center;
                margin: 0;
            }

            .second_column {
                width: 40%;
                text-align: center;
                margin: 0;
            }

            .third_column {
                width: 30%;
                text-align: center;
                margin: 0;
            }

            .bordure {
                border-right: 1px solid #707070;
            }
        }

        p {
            font-family: "Eras ITC";
            font-size: 16px;
        }

        h1 {
            font-family: "Eras ITC";
            font-size: 24px;
            font-weight: 500;
            margin: 0 0 8px 0;
        }

        .subtitle {
            display: inline-block;
            width: 35%;
            border-style: none;
            color: white;
            background-color: black;
            height: 4px;
            margin: 0 0 20px 0;
        }

        .subtitle2 {
            display: inline-block;
            width: 100%;
            border-style: none;
            color: white;
            background-color: rgb(110, 110, 110);
            height: 1px;
        }
    }
}

@media screen and (min-width: 800px) {
    body {
        height: 1vh;
    }
    .background {
        padding: 140px 0 140px 0;
        .card_classement {
            width: 800px;

            .container_classement_mid {
                display: none;
            }

            .container_classement_top {
                width: 80%;
                margin: 0 auto;

                p {
                    padding: 0 20px 20px 20px;
                }
            }

            .container_classement_bot {
                width: 70%;
            }

            h1 {
                font-size: 28px;
            }

            .subtitle {
                width: 120px;
            }
        }
    }
}
