<app-navbar></app-navbar>
<main>
    <div class="background">
        <div class="card_classement">
            <div class="container_classement_top">
                <h1>Classement</h1>
                <hr class="subtitle" />
                <p>Le classement est remis à zéro à chaque début
                    de session. Accomplissez des défis pour
                    remporter des points et obtenir des cadeaux
                    exclusifs !
                    A vous de jouer !</p>
            </div>
            <div class="container_classement_mid">
                <hr class="subtitle2" />
            </div>

            <div class="container_classement_bot">
                <div class="table_tete">
                    <p class="first_column bordure">Position</p>
                    <p class="second_column bordure">Pseudonyme</p>
                    <p class="third_column">Points Totaux</p>
                </div>
                <div class="table_corps" *ngFor="let user of users; let i=index">
                    <p class="first_column bordure"><img *ngIf="i <= 2 && i >= 0"
                            src="../../assets/icon_{{i+1}}_classement.png" alt="logo médaille en or" />{{i+1}}</p>
                    <p class="second_column bordure">{{user.username}}</p>
                    <p class="third_column">{{user.score}}</p>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>