<app-navbar></app-navbar>
<main>
    <div class="background">
        <form class="card_register" (ngSubmit)="onSubmit()">
            <div class="container_register_top">
                <h1>Créer un compte</h1>
                <hr class="subtitle" />
                <p>vous avez déjà un compte ? <a routerLink="/login">connectez vous ici</a></p>
            </div>
            <div class="container_register_mid">
                <hr class="subtitle2" />
            </div>
            <div class="container_register_bot">
                <mat-form-field>
                    <mat-label>Prénom</mat-label>
                    <input matInput type="text" name="Prenom" [(ngModel)]="user.firstname" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Nom</mat-label>
                    <input matInput type="text" name="name" [(ngModel)]="user.name" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput type="email" name="email" [(ngModel)]="user.mail" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Date de naissance</mat-label>
                    <input matInput type="date" name="date" [(ngModel)]="user.date_of_birth" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Pseudo</mat-label>
                    <input matInput type="text" name="pseudo" [(ngModel)]="user.username" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Telephone</mat-label>
                    <input matInput type="text" name="telephone" [(ngModel)]="user.phone" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" name="mdp" [(ngModel)]="userPassword" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Confirmation du mot de passe</mat-label>
                    <input matInput type="password" name="confirmMdp" [(ngModel)]="confirmPassword" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Adresse</mat-label>
                    <input matInput type="text" name="adresse" [(ngModel)]="user.address" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Code postal</mat-label>
                    <input matInput type="text" name="postal" [(ngModel)]="user.postal_code" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Ville</mat-label>
                    <input matInput type="text" name="ville" [(ngModel)]="user.city" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Pays</mat-label>
                    <input matInput type="text" name="pays" [(ngModel)]="user.country" />
                </mat-form-field>
                <div class="container_checkbox">
                    <input id="cpu" type="checkbox" name="check" [(ngModel)]="checkbox" />
                    <label for="cpu">En envoyant ce formulaire, vous acceptez
                        que vos données soient traitées
                        conformément à la politique de
                        confidentialité de JMB Voyages.</label>

                </div>
            </div>
            <div class="container_button">
                <small>{{submitError}}</small>
                <button type="submit">Créer son compte </button>
            </div>
        </form>
    </div>
</main>
<app-footer></app-footer>
<router-outlet></router-outlet>